@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Montserrat:wght@300;400;500&family=Oranienbaum&family=Pinyon+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-bg text-brand-text font-body;
  }

  h1,
  h2,
  h3 {
    @apply font-serif text-brand-blue;
  }
}